*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image h1{
    text-align: center;
}
.row{
    display: flex;
    justify-content:space-around;   
    height: 100vh;
    flex-wrap: wrap;    
    margin: 0;
    padding: 0;
}

.column{
    flex: 25%
}
.column img{
    margin: 0;
    padding: 5px;
    width: 100%;
    vertical-align: middle;
}
@media (max-width: 800px){
    .column{
        flex:50%;
    }
}@media (max-width: 600px){
    .column{
        flex:100%;
    }
}